/*---
title:   Banner
section: Homepage
---

The "light rays" are completely CSS styled empty div elements.

```example:html
<section class="sunshine banner" role="banner">
    <div class="left light-rays">
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
    </div>
    <div class="right light-rays">
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
        <div class="ray"></div>
    </div>
</section>
```

*/
.banner {
  position: relative;
  width: 100vw;
}
.sunshine {
  background-color: @even_color_day;
  height: unit(@banner_height, @banner_height_units);
  min-height: unit(@banner_min_height, px);
  min-width: unit(@banner_min_width, px);
  top: 0;
  & .left {
    left: 0;
  }
  & .right {
    left: 50%;
  }
}
