.share-button-container {
    padding: 0 20px;
    text-align: center;
    button {
        background: none;
        border: solid 2px white;
        border-radius: 3px;
        color: white;
        margin: 0 3px;
        padding: 8px 10px;
        transition: all 100ms;
    }
    button:hover {
        background: white;
        color: @node_green_dark;
        cursor: pointer;
    }
}
