/*---
title:   Colors
section: Base CSS
---

```example:color
@color: #D71920 @name: @uno_red
@color: #840C2C @name: @omaha_steaks_red
@color: #3E863D @name: @node_green_dark
@color: #6BBF47 @name: @node_green_light
@color: #F0DB4F @name: @js_yellow
@color: #D6BA32 @name: @js_yellow_dark
@color: #333333 @name: @dark_gray
```

*/
@uno_red: #D71920;
@omaha_steaks_red: #840C2C;
@node_green_dark: #3E863D;
@node_green_light: #6BBF47;
@js_yellow: #F0DB4F;
@js_yellow_dark: #D6BA32;
@dark_gray: #333333;
