/*---
title:   Variables
section: Base CSS
---

Various variables for site

*/

@iphone6_width_portrait: 414;

//logo images
@yeoman-logo: data-uri('image/svg+xml;charset=UTF-8', './assets/images/logo/yeoman.svg');
@eslint-logo: data-uri('image/svg+xml;charset=UTF-8', './assets/images/logo/eslint.svg');
@javascript-logo: data-uri('image/svg+xml;charset=UTF-8', './assets/images/logo/javascript.svg');

@fonts-path: "../assets/fonts";

//icomoon
@icomoon-font-path: @fonts-path;
@icon-newspaper: "\e904";
@icon-bullhorn: "\e91a";
@icon-clock: "\e94e";
@icon-calendar: "\e953";
@icon-menu: "\e9bd";
@icon-sphere: "\e9c9";
@icon-link: "\e9cb";
@icon-bookmark: "\e9d2";
@icon-happy: "\e9df";
@icon-sad: "\e9e5";
@icon-info: "\ea0c";
@icon-embed2: "\ea80";
@icon-facebook: "\ea90";
@icon-facebook2: "\ea91";
@icon-twitter: "\ea96";
@icon-github: "\eab0";
@icon-npm: "\eab1";
@icon-linkedin: "\eac9";
@icon-linkedin2: "\eaca";
