/*---
title:   Links
section: Base CSS
---
```example:html
<a href="#">This is a sample link</a>
<a href="#">This is another sample link</a>
<a href="#">This is a third sample link</a>
```
*/
a,
a:visited,
a:link {
    color: white;
    padding: 2px 4px;
    text-decoration: none;
}
a:hover {
    background-color: @uno_red;
}
