/*---
title:   Links
section: Base CSS
---
```example:html
<a href="#">This is a sample link</a>
<a href="#">This is another sample link</a>
<a href="#">This is a third sample link</a>
```
*/
a,
a:visited,
a:link {
    color: currentColor;
    text-decoration: none;
}
a:hover {
}
