/*---
title:   Logo
section: Branding
---

```example:html
<div class="logo">
    <img src="../assets/images/logo.png" alt="OMAHA JS">
</div>
```

*/
@logo_padding: 10;

.hero .logo {
  padding: unit(@logo_padding, px) 0;
  position: relative;
  text-align: center;
  & > img {
    height: unit((@hero_banner_height - 3), @banner_height_units);
    min-height: 234px;
    width: auto;
    user-select: none;
  }
}
@media (max-width: unit(@iphone6_width_portrait, px)) {
    .hero .logo {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 77vh;
        img {
            position: relative;
            width: 100%;
            height: auto;
        }
    }
}
