/*---
title: Navigation
sections: Structure
---



```example
<nav>
    <div class="menu-item">
        <div class="content-container"></div>
        <div class="title">news</div>
    </div>
</nav>
```

*/
nav {
    background-color: @node_green_dark;
    .menu-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        height: 30vh;
        width: 75vw;
        .menu-item {
            background-color: @node_green_dark;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 20vh;
            max-height: 100px;
            margin: 0 5px;
            min-height: 45px;
            width: 15vw;
            min-width: 150px;
            a:hover {
                text-decoration: none;
            }
            .title {
                font-family: sans-serif;
                font-size: 1.5em;
                font-variant: small-caps;
                text-align: center;
                text-transform: capitalize;
            }
        }
        .menu-item:hover {
            background-color: white;
            color: @node_green_dark;
            cursor: pointer;
        }
    }
}
