/*---
title: Navigation
sections: Structure
---



```example
<nav>
    <div class="menu-item">
        <div class="content-container"></div>
        <div class="title">news</div>
    </div>
</nav>
```

*/
nav {
    background-color: @node_green_dark;
    height: 30vh;
    width: 100vw;
}
