@import "reset";
@import "variables";
@import "colors";
@import "logo";
@import "banner";
@import "links";
@import "light-rays";

body {
  overflow-x: hidden;
}
i {
    font-weight: bold;
    font-style: italic;
}
.main {
  background-color: @node_green_dark;
  height: 4000vh;
  position: absolute;
  width: 100vw;
}
.post {
    color: white;
}
.post header {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding: 1em 0 0.5em 0;
    text-align: center;
}
.post div {
    font-family: sans-serif;
    line-height: 1.3em;
    margin: 0 auto;
    text-align: center;
    width: 60vw;
}
