@import "reset";
@import "constants";
@import "colors";
@import "links";
@import "logo";
@import "banner";
@import "light-rays";
@import "navigation";
@import "post";

body {
    background-color: @even_color_day;
    overflow-x: hidden;
    overflow-y: auto;
}
i {
    font-weight: bold;
    font-style: italic;
}
footer {
    background-color: @node_green_dark;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 0;
    justify-content: center;
    margin-top: -1px;
    padding-top: 2px;
    padding-bottom: 1em;
    text-align: center;
    .component {
        padding: 4px;
        & > .title {
            color: white;
            cursor: default;
            font-family: sans-serif;
            font-size: 0.8em;
            font-variant: small-caps;
            margin: 0;
            padding-top: 4px;
        }
        & > .content-container {
            margin: 0;
            padding: 0;
        }
    }
}
.main,
.omaha-home {
    background-color: @node_green_dark;
    height: unit(@hero_banner_height, @banner_height_units);
    position: relative;
    width: 100vw;
}
.content-section {
    display: none;
}
