@import "reset";
@import "variables";
@import "colors";

body {
    background-color: @node_green_light;
    font-family: sans-serif;
    font-size: 87.5%;
    margin: 0;
    padding: 2em 0 ;
}

/*---
title:   Structure
section: Base CSS
---

Styles for elements such as `<section>` could go in this section.

*/
section {
    line-height: 3em;
    padding: 0 2em;
    text-align: center;
    transform: scale(1.0);
    user-select: none;
}
footer {
    bottom: 0;
    padding: 1em 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

/*---
title:   Links
section: Base CSS
---

```example:html
<a href="#">This is a sample link</a>
<a href="#">This is another sample link</a>
<a href="#">This is a third sample link</a>
```

*/
a {
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
a:link,
a:visited {
    color: @dark_gray;
}
a:hover {
    background-color: @uno_red;
    color: white;
}
