.items-container {
    flex-grow: 1;
    position: relative;
    width: 100%;
    .item-container {
        height: 100px;
        background-color: orange;
        margin: 20px auto;
        width: 70vw;
    }
}
