.items-container {
    // background-color: red;
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
    width: 100%;
    .item-container {
        overflow-x: hidden;
        img {
            margin-left: -15vw;
            width: 100vw;
        }
    }
}
.feed {
    color: white;
    .items-container {
        // background-color: darken(@node_green_dark, 2);
    }
    .item-container:nth-of-type(2n + 1) {
        background-color: @node_green_dark;
        .item-content {

        }
    }
    .item-container {
        // background-color: blue;
        border-bottom: dashed darken(@node_green_dark, 5) 2px;
        margin: 0 auto;
        width: 100%;
        padding: 40px 0;
        .item-content {
            font-size: 1.1rem;
            margin: 0 auto;
            width: 70vw;
            header {
                margin-bottom: 10px;
                .item-title {
                    display: flex;
                    flex-direction: column;
                    .title {
                        font-size: 1.8rem;
                        padding-bottom: 5px;
                        &:after {
                            content: @icon-link;
                            color: darken(@node_green_dark, 6);
                            font-family: "icomoon";
                            padding-left: 10px;
                            position: relative;
                            bottom: -3px;
                        }
                        &:hover {
                            cursor: pointer;
                        }
                        &:hover:after {
                            color: @odd_color_day;
                        }
                    }
                    .subtitle {
                        @list: darken(@node_green_dark, 3), @node_green_dark 100%;
                        background-image: svg-gradient(to right, @list);
                        background-size: 100%;
                        border-left: solid 4px darken(@node_green_dark, 6);
                        margin-top: 10px;
                        margin-bottom: 5px;
                        padding: 10px 0;
                        padding-left: 1em;
                    }
                }
            }
            p {
                line-height: 1.4em;
                padding-bottom: 20px;
            }
            p:last-of-type {
                padding-bottom: 40px;
            }
        }
    }
    .item-container:last-of-type {
        border-bottom: none;
        min-height: 800px;
    }
}
.code {
    .items-container {
        // background-color: blue;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: wrap;
        margin: 0 auto;
        overflow: hidden;
        padding-top: 40px;
        padding-left: 10px;
        width: 70vw;
    }
    .item-container {
        background-color: white;
        border-radius: 8px;
        flex-grow: 1;
        margin: 20px;
        margin-top: 0;
        margin-left: 0;
        overflow: hidden;
        .item-content {
            background-color: @node_green_dark;
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            margin: 5px;
            header {
                align-items: stretch;
                display: flex;
                flex-direction: row;
                min-height: 100px;
                .item-content-icon {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    // height: 100%;
                    min-height: 100px;
                    width: 100px;
                    &.yeoman {
                        background-image: @yeoman-logo;
                        background-size: 95%;
                    }
                    &.javascript {
                        background-image: @javascript-logo;
                    }
                    &.eslint {
                        background-image: @eslint-logo;
                        background-size: 75%;
                    }
                }
                .item-title {
                    align-items: stretch;
                    display: flex;
                    flex-direction: column;
                    font-size: 2rem;
                    padding-left: 10px;
                    padding-bottom: 10px;
                    padding-right: 10px;
                    .title {
                        padding: 8px 0;
                    }
                    .subtitle {
                        font-size: 1rem;
                    }
                }
            }
        }
        &:not(:hover) {
            background-color: white;
            color: white;
            cursor: pointer;
            .item-content-icon {
                background-color: white;
                color: white;
            }
        }
        &:hover {
            background-color: @even_color_day;
            color: @even_color_day;
            cursor: pointer;
            .item-content-icon {
                background-color: @even_color_day;
                color: @even_color_day;
            }
        }
    }
}
@media (max-width: unit(@iphone6_width_portrait, px)) {
    .feed .items-container .item-container {
        .item-content {
            width: 90vw;
        }
        img {
            margin-left: -5vw;
        }
    }
    .code .items-container {
        width: 98vw;
    }
}
