.content-section {
    // height: 100vh;
    margin: 0 auto;
    min-height: 500px;
    position: relative;
    width: 100vw;
    &.about {
        // height: 70vh;
    }
    .content-section-container {
        padding-top: 10px;
        position: relative;
        & > header {
            display: flex;
            height: 48px;
            margin-bottom: 0;
            padding: 0;
            position: relative;
            &:before {
                content: "";
                background-color: darken(@node_green_dark, 5);
                bottom: -2px;
                height: 32px;
                margin: 8px 8px 8px 0;
                position: relative;
                width: 20vw;
            }
            span {
                font-family: sans-serif;
                line-height: 46px;
            }
            .section-title {
                color: white;
                font-size: 48px;
                font-variant: small-caps;
                text-transform: lowercase;
            }
        }
    }
}
