.content-section {
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 78vw;
}
.content-section-container {
    padding-top: 20px;
    & > header {
        border-bottom: solid 4px white;
        display: flex;
        margin-bottom: 1em;
        padding: 0;
        .section-title {
            color: white;
            font-family: sans-serif;
            font-size: 48px;
            font-variant: small-caps;
            padding-left: 0px;
            position: relative;
            text-align: center;
            text-transform: lowercase;
            bottom: -5px;
        }
    }
    .items-container {
        position: relative;
    }
}
