<div class="item-content" data-url={{ url }}>
    <header>
        <div class="item-content-icon {{ technology }}"></div>
        <div class="item-title">
            <span class="title">{{ title }}</span>
            <span class="subtitle">{{ subtitle }}</span>
        </div>
    </header>
    <div class="item-details">

    </div>
</div>
