<div class="item-content">
    <header>
    {{#if_eq type "project"}}
        <div class="item-content-icon {{ technology }}"></div>
    {{/if_eq}}
        <div class="item-title">
            <span class="title">{{ title }}</span>
            <span class="subtitle">{{ subtitle }}</span>
        </div>
    </header>
    {{#if_eq type "post"}}
        <div class="item-details">
        {{#each body}}
            <p>{{{ this }}}</p>
        {{/each}}
            <div class="share-button-container">
                <button class="social" data-social="twitter" data-balloon="tweet on Twitter">twitter</button>
                <button class="social" data-social="linkedin" data-balloon="share on LinkedIn">linkedin</button>
                <button class="social" data-social="facebook" data-balloon="post on Facebook">facebook</button>
            </div>
        </div>
    {{/if_eq}}
</div>
