<header role="banner"></header>
<nav role="navigation"></nav>
<section id="main">
    <img src="../assets/images/logo.png" width="250"/>
    <h1>Pardon our dust. Quality takes time ;)</h1>
</section>
<footer role="contentinfo">
    Visit Omaha JS on <a href="https://github.com/omahajs">GitHub</a>
</footer>
