<section class="post">
    <header>
        ~ Good Life, Great code ~
    </header>
    <div>
        Nebraska is known for quality...but not necessarily quality <i>code</i>.
        </br>
        </br>
        Our purpose is to change that.
        </br>
        </br>
        We do not have much to show right now, but we have a sharebale ESLint config
        that you can use today. Check it out on <a href="https://github.com/omahajs/eslint-config-omaha-prime-grade">GitHub</a>
    </div>
</section>
