
<nav role="navigation">
    <div class="button-container">
        <button data-section="projects">See Our Projects!</button>
        <button data-section="mission">Read Our Mission!</button>
    </div>
</nav>
<div id="first-section" data-section-placeholder></div>
<div id="last-section" data-section-placeholder></div>
<button class="scroll-to-top">▲</button>
