
<nav role="navigation"></nav>
<div id="first-section" data-section-placeholder></div>
<div id="second-section" data-section-placeholder></div>
<div id="third-section" data-section-placeholder></div>
<div id="last-section" data-section-placeholder></div>
<button class="scroll-to-top">▲</button>
