<section class="post">
    <header>
        Good Life. Great code.
    </header>
    <div>
        We do not have much to show right now, but we <i>do</i> have a shareable ESLint config
        available on <a href="https://github.com/omahajs/eslint-config-omaha-prime-grade">GitHub</a>
    </div>
</section>
