<!-- navigation -->
<div class="menu-item">
    <div class="content-container"></div>
    <div class="title">news</div>
</div>
<div class="menu-item">
    <div class="content-container"></div>
    <div class="title">about</div>
</div>
<div class="menu-item">
    <div class="content-container"></div>
    <div class="title">projects</div>
</div>
<div class="menu-item">
    <div class="content-container"></div>
    <div class="title">resources</div>
</div>
