<!-- navigation -->
<div class="menu-item">
    <div class="content-container"></div>
    <div class="title">feed</div>
</div>
<div class="menu-item">
    <div class="content-container"></div>
    <div class="title">code</div>
</div>
<div class="menu-item">
    <div class="content-container"></div>
    <div class="title">about</div>
</div>
