<!-- navigation -->
<div class="menu-item">
    <div class="content-container"></div>
    <div class="title"><a href="">news</a></div>
</div>
<div class="menu-item">
    <div class="content-container"></div>
    <div class="title"><a href="">projects</a></div>
</div>
<div class="menu-item">
    <div class="content-container"></div>
    <div class="title"><a href="">resources</a></div>
</div>
<div class="menu-item">
    <div class="content-container"></div>
    <div class="title"><a href="">about</a></div>
</div>
