<div class="content-section-container">
    <header>
        <span class="section-title">{{ title }}</span>
    </header>
    <div class="items-container"></div>
    {{#if_eq title "about"}}
        <!-- "about" section content here -->
    {{/if_eq}}
</div>
